@charset 'utf-8';
*{background-color: brown;}
h1,h2{
  color: tomato;
#container{
  /* background-color: #ddd; */
>.item{
  color: blue;
}}

  font-weight: bolder;
}
container .item{
  color: blue;
> p.item{
div{
  > p.item{
    color: darkgreen;
  }
  .section > .item{color: blueviolet;}
}

}
}